<html>
    <h1>Actividad 0x0E: Pagina Web </h1>
        <p>Realizado con Editor de texto</p>
        <h2>Pagina web crado:Bri.B.1ro 15 </h2>
		        <img src="http://www.cnba.uba.ar/sites/all/themes/BaseBuildingBlocks/img/logo.png">
            <h3>Ejemplo de Enlace</h3>
                <a href="http://www.cnba.uba.ar/">Texto del enlace</a>
            <h3>Ejemplo de imagen</h3>
				<img src="https://www.testdevelocidad.blog/wp-content/uploads/2018/08/direccion-ip.jpg.webp">
            <h3>Pregunta: ¿Que es Protocolo IP?</h3>
                <p>El<b> protocolo IP</b> es uno de los<b> pilares basicos de internet</b>, ya que permite el desarrollo y trasporte de paquetes de datos, aunque su recepcion no esta asegurada. Ademas, forma parte del conocido protocolo<b>TCP/IP</b> .</p>

    <div class="calificaciones"> {{  aca_viene_tu_calificacion }} </div>
</html>